<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression"
            class="hu.blackbelt.judo.meta.expression.ExpressionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="expression"
            class="hu.blackbelt.judo.meta.expression.util.ExpressionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/constant"
            class="hu.blackbelt.judo.meta.expression.constant.ConstantPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="constant"
            class="hu.blackbelt.judo.meta.expression.constant.util.ConstantResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/variable"
            class="hu.blackbelt.judo.meta.expression.variable.VariablePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="variable"
            class="hu.blackbelt.judo.meta.expression.variable.util.VariableResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/operator"
            class="hu.blackbelt.judo.meta.expression.operator.OperatorPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="operator"
            class="hu.blackbelt.judo.meta.expression.operator.util.OperatorResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/numeric"
            class="hu.blackbelt.judo.meta.expression.numeric.NumericPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="numeric"
            class="hu.blackbelt.judo.meta.expression.numeric.util.NumericResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/logical"
            class="hu.blackbelt.judo.meta.expression.logical.LogicalPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="logical"
            class="hu.blackbelt.judo.meta.expression.logical.util.LogicalResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/string"
            class="hu.blackbelt.judo.meta.expression.string.StringPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="string"
            class="hu.blackbelt.judo.meta.expression.string.util.StringResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/enumeration"
            class="hu.blackbelt.judo.meta.expression.enumeration.EnumerationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="enumeration"
            class="hu.blackbelt.judo.meta.expression.enumeration.util.EnumerationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/object"
            class="hu.blackbelt.judo.meta.expression.object.ObjectPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="object"
            class="hu.blackbelt.judo.meta.expression.object.util.ObjectResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated expression -->
      <package
            uri="http://blackbelt.hu/judo/meta/expression/collection"
            class="hu.blackbelt.judo.meta.expression.collection.CollectionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated expression -->
      <parser
            type="collection"
            class="hu.blackbelt.judo.meta.expression.collection.util.CollectionResourceFactoryImpl"/>
   </extension>
</plugin>
